<h2><%= @school_class.title %></h2>
<p></p>
<p><%= "Room: #{@school_class.room_number}" %></p>
<br>
<br>
<p><%= link_to "Edit Class", edit_school_class_path %></p>
<p><%= link_to "Return to Index", school_classes_path %></p>
